<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
  </header>
  <nav>
    <ul>
      <li><a href="#">Inicio</a></li>
    </ul>
    <aside>
      <app-todo-search></app-todo-search>
    </aside>
  </nav>
  <main>
    <app-todo-create (createTodo)="add($event)"></app-todo-create>
    <app-todo-list
      [todos]="todos"
      (deleteEventTodo)="deleteTodo($event)"
      (completedEventTodo)="completedTodo($event)"
      (updateEventTodo)="updateTodo($event)"
    ></app-todo-list>
  </main>
  <app-todo-filter></app-todo-filter>
</section>
