<!-- <footer>
  <span>{{ 1 }} item left</span>
  <ul>
    <li>
      <a [routerLink]="['/']">All</a>
    </li>
    <li>
      <a [routerLink]="['/', 'active']">Active</a>
    </li>
    <li>
      <a [routerLink]="['/', 'completed']">Completed</a>
    </li>
  </ul>
  <button (clic)="clearComplete()">Clear completed</button>
</footer>
-->

<footer>
  <span>{{ 14 }} item left</span>
  <ul>
    <li>
      <a (click)="doFilter('SHOW_ALL')">All</a>
    </li>
    <li>
      <a (click)="doFilter('SHOW_ACTIVE')">Active</a>
    </li>
    <li>
      <a (click)="doFilter('SHOW_DONE')">Completed</a>
    </li>
  </ul>
  <button (clic)="clearComplete()">Clear completed</button>
</footer>
